/* 
    Created on : 22 may. 2022, 11:41:17
    Author     : Guillermo Jarana
*/
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif; 
}
body{
    background: #2C3E50;
}
/*CONTENEDOR*/
#contenedor{       
    width: 100%;
    padding-top: 94px;
    /*COLOR HOVER CABECERA #46c9b0*/
}
a{
    text-decoration: none;
}
/*CABECERA*/
header{
    position: fixed;
    background: #17212b; 
    height: 94px;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 20px 0px black;
}
#cabecera-contenedor{
    position: relative;               
    height: 100%;
    margin-left: 100px;
}
#container-logo{
    height: 100%;
    display: inline-block;
}
header #logo{
    height: 70%;
    float: left;
    position: absolute;
    top: 12%;
}
header ul, header #sesion{
    display: flex;
    /*display: inline-block;*/
}
#menuNavegacion{
    display: inline-block;
    position: absolute;
    top: 30%;
    margin-left: 10%;
    /*width: 100%;*/

}
#menuNavegacion ul{
    display: flex;
    font-size: 0.8em;
}
#menuNavegacion a{
    color: white;
}
#menuNavegacion ul li{
    /*display: inline-block;*/
    list-style: none;
    margin-right: 20px;
    padding: 10px 14px;
    font-weight: bold;

}
#menuNavegacion li:hover{
    background: #46c9b0;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 1px 20px 0px black;
}
#sesion{
    margin-left: 400px;
    color: white;
    align-items: center;
    gap: 30px;
}
#datosUser img{
    height: 20px;
    width: auto;
    float: left;
    margin-right: 4%;
}
#BtnCerrarSesion{
    background: transparent;
    border: none;
    color: white;
}
#BtnCerrarSesion:hover{
    color: #46c9b0;
    border-bottom: 2px solid #46c9b0;
    cursor: pointer;
}

/*CONTENEDOR CENTRAL*/
#contenedor-central{
    padding-top: 5%;
}

/*RANKING*/
#Ranking{
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#tituloRanking{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 3%;
}
#tituloRanking h1{

    font-size: 2em;
    font-family: cursive;
    font-style: oblique;
    border-bottom: 3px solid #46c9b0;
}
#listadoRanking table{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 3%;
}
#listadoRanking thead{
    background: darkcyan;
}
#listadoRanking tbody tr.impar{
    background: #46c9b0;
}
#listadoRanking tbody tr.par{
    background: #379d89;
}
#BtnImprimir{
    padding: 3%;
    font-size: 1.5em;
    background: #46c9b0;
    color: black;
    font-weight: bold;
}
#BtnImprimir:hover{
    background: #359381;
    color: white;
    cursor: pointer;
}

